
{{ block title }}
    第二階段：理解測驗
{{ endblock }}
{{ block content }}

<script type="text/javascript"
  src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<style>
    .instruction{
		background-color: rgba(0, 0, 0, 0.05);
		position: relative;
		padding: 1rem 1rem;
		margin: 1rem 0rem;
		border: 1px solid transparent;
		border-radius: .25rem;
	}

p{
    margin: 1rem 0rem;
}

.hint{
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
    position: relative;
    padding: 1rem 1rem;
    margin: 1rem 0rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.hint-1-a{
    display: none;
}

.hint-1-b{
    display: none;
}

.hint-1-c{
    display: none;
}

.hint-1-d{
    display: none;
}

.hint-1-e{
    display: none;
}

.hint-1-f{
    display: none;
}

.hint-1{
    display: none;
}

.hint-2{
    display: none;
}

.hint-3{
    display: none;
}

.error{
    display: none;
}

.wrong{
    display: none;
}

.correct{
    display: none;
}

.check{
    margin-top: 1rem;
}

div > p{
    padding: 0rem 1rem;
}

div > label{
    padding: 0rem 2rem;
}

    .container{
		max-width: {{Constants.width}};
	}

	p{
		line-height: {{Constants.height}};
	}
    .debug-info {
        display: none;
    }
</style>

    
    <div class="instruction">
        <h5>合作案說明提示：</h5>

        {{ if player.contri_treatment == 'money' }}
			每回合每位組員皆有 {{Constants.endowment}} 個法幣，每組 {{ Constants.players_per_group }} 人。
		{{ elif player.contri_treatment == 'own_info'}}
			每回合每位組員皆有 {{Constants.endowment}} 項資料，每組 {{ Constants.players_per_group }} 人。
		{{ else }}
			每回合每位組員皆有 {{Constants.endowment}} 項資料，每組 {{ Constants.players_per_group }} 人。
		{{ endif }}<br>
        所有組員的貢獻量相加為小組總量。<br>
        每回合合作案的總收益為小組總量乘以 {{ Constants.multiplier }} 倍，由 {{ Constants.players_per_group }} 位組員平分，作為您分得的合作案收益。<br>
        您每回合的報酬等於您分得的合作案收益，加上 {{Constants.endowment}} {{ if player.contri_treatment == 'money' }}個法幣{{ elif player.contri_treatment == 'own_info'}}項資料{{ else }}項資料{{ endif }}中您未貢獻的量。每{{ if player.contri_treatment == 'money' }}個法幣{{ elif player.contri_treatment == 'own_info'}}項資料{{ else }}項資料{{ endif }}的價值為 1 元新台幣。
    </div>
    <h5>
        1. 請根據以上有關合作案的提示，完成第一大題。
    </h5>
    <form action="check">
        <p>
            a. 若某回合其他組員共貢獻 30，你的貢獻量為 0，你該回合的報酬是？
        </p>
        <label style="width: 1000px;">你的報酬：<input type="text" name="q1-c" class="form-control" style="display: inline; width: 200px; margin-bottom: 1rem;"> 元新臺幣</label>
        <div class="hint hint-1-c">
             提示文字：<br>
            此選項的答案錯誤。請您仔細閱讀下方提示，再重新回答問題。<br><br>
            所有組員的貢獻量相加為小組總量。<br>
            每回合合作案的總收益為小組總量乘以 {{ Constants.multiplier }} 倍，由 {{ Constants.players_per_group }} 位組員平分，作為您分得的合作案收益。<br>
            您每回合的報酬等於您分得的合作案收益，加上 {{Constants.endowment}} {{ if player.contri_treatment == 'money' }}個法幣{{ elif player.contri_treatment == 'own_info'}}項資料{{ else }}項資料{{ endif }}中您未貢獻的量。每{{ if player.contri_treatment == 'money' }}個法幣{{ elif player.contri_treatment == 'own_info'}}項資料{{ else }}項資料{{ endif }}的價值為 1 元新台幣。
            <br><br>
            計算報酬的公式：
            <br>
        <img src="{{static 'global/formula_yellow.png'}}" alt="" style="black solid; padding: 1rem; width: 50%;">
        <br>
        </div>

        <p>
            b. 若某回合你的貢獻量為 8，其他組員共貢獻 7，你該回合的報酬是？
        </p>
        <label style="width: 1000px;">你的報酬：<input type="text" name="q1-e" class="form-control" style="display: inline; width: 200px; margin-bottom: 1rem;"> 元新臺幣</label>
        <div class="hint hint-1-e">
            提示文字：<br>
            此選項的答案錯誤。請您仔細閱讀下方提示，再重新回答問題。<br><br>
            所有組員的貢獻量相加為小組總量。<br>
        每回合合作案的總收益為小組總量乘以 {{ Constants.multiplier }} 倍，由 {{ Constants.players_per_group }} 位組員平分，作為您分得的合作案收益。<br>
            您每回合的報酬等於您分得的合作案收益，加上 {{Constants.endowment}} {{ if player.contri_treatment == 'money' }}個法幣{{ elif player.contri_treatment == 'own_info'}}項資料{{ else }}項資料{{ endif }}中您未貢獻的量。每{{ if player.contri_treatment == 'money' }}個法幣{{ elif player.contri_treatment == 'own_info'}}項資料{{ else }}項資料{{ endif }}的價值為 1 元新台幣。
            <br><br>
            計算報酬的公式：
            <br>
        <img src="{{static 'global/formula_yellow.png'}}" alt="" style="black solid; padding: 1rem; width: 50%;">
        </div>

<!--         <p>
            f. 若某回合你的貢獻量為 8，其他組員共貢獻 22，你該回合的報酬是?
        </p>
        <label style="width: 1000px;">你的報酬：<input type="text" name="q1-f" class="form-control" style="display: inline; width: 200px; margin-bottom: 1rem;"> 元新臺幣</label>
        <div class="hint hint-1-f">
            提示文字：<br>
            此選項的答案錯誤。請您仔細閱讀下方提示，再重新回答問題。<br><br>
            所有組員的貢獻量相加為小組總量。<br>
            每回合合作案的總收益為小組總量乘以 {{ Constants.multiplier }} 倍，由 {{ Constants.players_per_group }} 位組員平分，作為您分得的合作案收益。<br>
            您每回合的報酬等於您分得的合作案收益，加上 {{Constants.endowment}} {{ if player.contri_treatment == 'money' }}個法幣{{ elif player.contri_treatment == 'own_info'}}項資料{{ else }}項資料{{ endif }}中您未貢獻的量。每{{ if player.contri_treatment == 'money' }}個法幣{{ elif player.contri_treatment == 'own_info'}}項資料{{ else }}項資料{{ endif }}的價值為 1 元新台幣。
            <br><br>
            計算報酬的公式：({{Constants.endowment}} - 你的貢獻量) +  {{ Constants.multiplier }}*(小組總量)/4
        </div> -->
    </form>
    <div class="hint hint-1">
        
    </div>

    <h5 style="padding: 1.5rem 0 0 0">
        2. 若十回合你的貢獻量分別為 7, 8, 18, 3, 1, 16, 19, 12, 14, 11，請問以下描述何者正確？
    </h5>
    <form action="check">
        <label><input type="radio" name="q2" value="a" class="form-check-input"> 將有一位觀看者，連續觀看十回合的貢獻</label><br>
        <label><input type="radio" name="q2" value="b" class="form-check-input"> 將有一位觀看者，隨機觀看十回合中一回合的貢獻</label><br>
        <label><input type="radio" name="q2" value="c" class="form-check-input"> 將有十位觀看者，每位觀看者隨機觀看十回合中一回合的貢獻，每回合會被一位觀看者觀看</label><br>
        <label><input type="radio" name="q2" value="d" class="form-check-input"> 將有十位觀看者，每位觀看者連續觀看十回合的貢獻</label><br>
    </form>

    <div class="hint hint-2">
        提示文字：<br>
        此選項的答案錯誤。請您仔細閱讀以下文字，再重新回答問題。<br><br>
        本系列實驗全部完成後，您的貢獻將會與您{{ if player.id_treatment == 'id_user' }}為自己取的 ID {{ else }}被系統分配的 ID {{ endif }}一起展示於未來其他系列的實驗。
        <br>
        您每回合的貢獻將分別被一位不同的受試者觀看。
    </div>


    <h5 style="padding: 2rem 0 0 0">
        3. 若某一回合您的貢獻量為 7，這一系列實驗結束時，會有一位觀看者觀看您的 ID 與貢獻。以下敘述何者錯誤？
    </h5>

    <form action="check">
        <label><input type="radio" name="q3" value="a" class="form-check-input">
         觀看者螢幕上的 20 張紙牌代表該回合的 20 {{ if player.contri_treatment == 'money' }}個法幣{{ elif player.contri_treatment == 'own_info'}}項資料{{ else }}項資料{{ endif }}
        </label><br>
        <label><input type="radio" name="q3" value="b" class="form-check-input"> 觀看者將可自由決定翻開或猜測任意數量的牌卡。</label><br>
        <label><input type="radio" name="q3" value="c" class="form-check-input"> 
            觀看者若翻開所有紙牌，將看到電腦自 20 {{ if player.contri_treatment == 'money' }}個法幣{{ elif player.contri_treatment == 'own_info'}}項資料{{ else }}項資料{{ endif }}中隨機選擇貢獻的 7 {{ if player.contri_treatment == 'money' }}個法幣{{ elif player.contri_treatment == 'own_info'}}項資料{{ else }}項資料{{ endif }}
        。</label><br>
        <label><input type="radio" name="q3" value="d" class="form-check-input"> 
            觀看者若翻開所有紙牌，將看到您自己選擇貢獻的 7 {{ if player.contri_treatment == 'money' }}
			個法幣{{ elif player.contri_treatment == 'own_info'}}項資料{{ else }}項資料{{ endif }}    
        。</label><br>
    </form>
    <div class="hint hint-3">
        提示文字：<br>
        此選項的答案錯誤。請您仔細閱讀以下文字，再重新回答問題。<br><br>
        
        每位觀看者的實驗畫面會顯示您{{ if player.id_treatment == 'id_user' }}為自己取的 ID {{ else }}被系統分配的 ID {{ endif }}與 {{ Constants.endowment }} 張對應您某回合中 {{ Constants.endowment }} {{ if player.contri_treatment == 'money' }}個法幣{{ elif player.contri_treatment == 'own_info'}}項資料{{ else }}項資料{{ endif }}的牌卡，每張牌卡代表一{{ if player.contri_treatment == 'money' }}個法幣。{{ elif player.contri_treatment == 'own_info'}}個資料。{{ else }}個資料。{{ endif }}
		<br>
        觀看者可點擊翻開任意數目的牌卡。點擊一下將顯示牌卡代表的{{ if player.contri_treatment == 'money' }}法幣編號{{ elif player.contri_treatment == 'own_info'}}資料項目{{ else }}資料項目{{ endif }}，觀看者可猜測每張牌卡代表的{{ if player.contri_treatment == 'money' }}法幣{{ elif player.contri_treatment == 'own_info'}}資料{{ else }}資料{{ endif }}為被抽中貢獻或未被抽中。每猜中一張，觀看者可獲得新台幣 {{ Constants.viewer_guess_bonus }} 元。
		<br>
		猜測後，再點擊一下可翻開牌卡。翻開後，若該牌卡代表的法幣為被抽中貢獻的{{ if player.contri_treatment == 'money' }}法幣{{ elif player.contri_treatment == 'own_info'}}資料{{ else }}資料{{ endif }}，該牌卡將顯示該{{ if player.contri_treatment == 'money' }}個法幣{{ elif player.contri_treatment == 'own_info'}}項資料{{ else }}項資料{{ endif }}。若翻開的牌卡並非被抽中貢獻的{{ if player.contri_treatment == 'money' }}法幣{{ elif player.contri_treatment == 'own_info'}}資料{{ else }}資料{{ endif }}，該牌卡將顯示為空白。
    </div>

    <form action="check">
        <input type="button" value="檢查" class="btn btn-primary check" onclick="check()">
    </form>

    <br>

    <div class="otree-form-errors alert alert-danger error">
        尚有題目未作答，請再檢查一次。
    </div>

    <div class="otree-form-errors alert alert-danger wrong">
        尚有題目回答錯誤，請依據提示更正答案後，再檢查一次。
    </div>

    <div class="hint correct">
        測驗皆回答正確，請點擊「下一頁」繼續本實驗。<br><br>
	<button class="otree-btn-next btn btn-primary">下一頁</button>


    </div>

<script language="javascript">

function check(){
    try{
        // var q1_a_1 = document.querySelector('input[name="q1-a-1"]').value;
        // var q1_a_2 = document.querySelector('input[name="q1-a-2"]').value;
        // var q1_b_1 = document.querySelector('input[name="q1-b-1"]').value;
        // var q1_b_2 = document.querySelector('input[name="q1-b-2"]').value;
        var q1_c = document.querySelector('input[name="q1-c"]').value;
        // var q1_d = document.querySelector('input[name="q1-d"]').value;
        var q1_e = document.querySelector('input[name="q1-e"]').value;
        // var q1_f = document.querySelector('input[name="q1-f"]').value;
        var q2 = document.querySelector('input[name="q2"]:checked').value;
        var q3 = document.querySelector('input[name="q3"]:checked').value;
        
        // if (q1_a_1 != "20" || q1_a_2 != "20"){
        //     $(".hint-1-a").show()
        // }else{
        //     $(".hint-1-a").hide()
        // }

        // if (q1_b_1 != "40" || q1_b_2 != "40"){
        //     $(".hint-1-b").show()
        // }else{
        //     $(".hint-1-b").hide()
        // }

        if (q1_c != "35"){
            $(".hint-1-c").show()
        }else{
            $(".hint-1-c").hide()
        }

        // if (q1_d != "27.5"){
        //     $(".hint-1-d").show()
        // }else{
        //     $(".hint-1-d").hide()
        // }

        if (q1_e != "19.5"){
            $(".hint-1-e").show()
        }else{
            $(".hint-1-e").hide()
        }

        // if (q1_f != "27"){
        //     $(".hint-1-f").show()
        // }else{
        //     $(".hint-1-f").hide()
        // }

        if (q2 != "c"){
            $(".hint-2").show()
        }else{
            $(".hint-2").hide()
        }

        if (q3 != "d"){
            $(".hint-3").show()
        }else{
            $(".hint-3").hide()
        }

        if (q1_c == "35" && q1_e == "19.5" && q2 == "c" && q3 == "d"){
            $('.check').hide()

            $('.error').hide()
            $('.wrong').hide()
            $('.correct').show()
        }else{

            $('.error').hide()
            $('.wrong').show()
            $('.correct').hide()
        }
        
    }catch(err){
        $('.error').show()
        $('.wrong').hide()
        $('.correct').hide()
    }
    
}
</script>

<script>
$(document).bind("contextmenu copy selectstart", function(){
    return false;
});
</script>

<script>
	setTimeout(function(){document.querySelector('.otree-btn-next').className+= ' twinkle'}, 60000);
</script>

<style type="text/css">
        .twinkle{
            color: #fff;
            border: #0d6efd;
            animation: twinkle 1s alternate infinite;
        }
        @keyframes twinkle{
			from{background: #0d6efd;}
            to{background: #0d6dfd4f;}
        }	
</style>
{{ endblock }}
